{% extends '../base.html' %}
{% block content %}
{% load static %}
{% load sweetify %}
{% sweetify %}

<style>
  span {
    font-weight: 700;
  }
</style>

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <!-- Navbar include start -->
        {% include 'navbar.html' %}
    <!-- Navbar include end -->

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Orders Details</h1>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<section class="container h-100 h-custom" style="background-color: #0F172B;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-9">
                                <div class="mx-5 mt-5">
                                    <div class="mb-5">
                                        <h1 class="fw-bold mb-0 text-black">My Orders Information</h1>
                                        <p class="fs-5 my-2">View your orders informations</p>
                                        <p class="fs-6">If you have any questions, please feel free to <a href="/contact/">contact us</a>, our customer service center is working for you 24/7.</p>
                                    </div>
                                    
                                    <table class="table">
                                        <hr style="color:black; height: 2px;">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">From</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Review</th>
                                          </tr>
                                        </thead>

                                        <tbody>
                                          {% for data in myOrders %}
                                            <tr>
                                                <th scope="row">{{data.item_id}}</th>
                                                <td scope="row">{{data.item.name}}</td>
                                                <td scope="row">{{data.quantity}}</td>
                                                <td scope="row">₹{{data.item.price}}</td>
                                                <td scope="row">{{data.order.restaurant}}</td>
                                                <td scope="row"> 
                                                  {% if data.order.is_confirmed == False %}
                                                    Not placed
                                                  {% else %}
                                                    placed
                                                  {% endif %}
                                                </td>
                                                <td>
                                                    <p class="btn btn-primary btn-sm openForm" itemId="{{data.item_id}}">rate us</p>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="mx-5 mt-5">
                                    <div class="mb-5">
                                        <div class="border border-2">
                                            <div class="card text-center p-2 bg-light">
                                                Customer section
                                            </div>
                                            <div class="p-3">
                                                <ul style="list-style: none;">
                                                    <li><a href="/orders/">My orders</a></li>
                                                    <li><a href="/foodprovider/restaurant/">Restaurants</a></li>
                                                    <li><a href="/">All foods</a></li>
                                                    <li><a href="/profile/">Account</a></li>
                                                    <li><a href="/logout/">Logout</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-0">
                          <div class="col-lg-12">
                            <div class="mx-5 mt-5">
                                <div class="mb-5">
                                    <div class="border border-2">
                                        <div class="card text-center p-2 bg-light">
                                          <h4 class="fw-bold mb-0 text-black">Delivery Address</h4>
                                        </div>
                                        <div class="p-3">
                                            <ul style="list-style: none;">
                                                <li><span>City :</span> {{deliveryAdd.city}}</li>
                                                <li><span>Area :</span> {{deliveryAdd.area}}</li>
                                                <li><span>Zipcode :</span> {{deliveryAdd.zipcode}}</li>
                                                <li><span>House no :</span>{{deliveryAdd.house_no}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Review form start -->
<div id="centered-form1">
    <div class="form-content">
      <h4 class="text-uppercase mt-3 mx-3">Give us a rating</h4>
      <form action="/ratingMenu/" method="POST" class="mx-3">
        {% csrf_token %}
        <label for="rating" class="mt-2">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating">
  
        <label for="desc" class="mt-2">Description</label>
        <textarea name="desc" class="form-control" id="desc" cols="30" rows="3"></textarea>
  
        <input type="submit" value="Submit" class="btn btn-dark my-3 addRating">
      </form>
    </div>
  </div>
  <!-- Review form end -->

<script>
    $(document).ready(function () {
      var id=0;
      $(".openForm").click(function () {
        $("#centered-form1").fadeIn(1000);
        $("section").css({'filter':'blur(5px)'});

        id = $(this).attr("itemId");
      });
  
      $(".addRating").click(function () {
        $("#centered-form1").fadeOut(1000);
        $("section").css({'filter':'none'});
      });

      // Rating code start
      $(".addRating").click(function (event) { 
        event.preventDefault();

        let rating = $("#rating").val();
        let desc = $("#desc").val();
        let csr = $("input[name=csrfmiddlewaretoken]").val();

        let myData = {id:id, rating:rating, desc:desc, csrfmiddlewaretoken: csr}
        console.log(id, rating, desc);
        if(!rating){
          Swal.fire({icon:"warning", text:"Please give us a rating!", timer:500})
        }
        else{
          $.ajax({
          url: "/menu/ratingMenu/" + id,
          method: "POST",
          data: myData,
          success: function (data) { 
            if(data.status){
              Swal.fire({icon:"success", text:"Thanks!", timer:500}) 
            }
           }
        })
        }
     })
    //  Rating code end
    });
</script>    

{% endblock content %}