{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load sweetify %}
{% sweetify %}

<!-- Hero Start -->
<div class="container-xxl position-relative p-0">
  <!-- Navbar include start -->
  {% include 'navbar.html' %}
  <!-- Navbar include end -->

  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Bag Items</h1>
    </div>
  </div>
</div>
<!-- Hero End -->

<!-- My basket start -->
<section class="container h-100 h-custom" style="background-color: #0f172b">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px">
          <div class="card-body p-0" id="appendEmptyBag">
            {% if bagItems %}
            <div class="row g-0" id="deleteBasket">
              <div class="col-lg-9">
                <div class="mx-5 mt-5">
                  <div class="mb-5">
                    <h1 class="fw-bold mb-0 text-black">My Baskets</h1>
                  </div>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit price</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in bagItems %}
                      <tr class="deleteRow">
                        <th scope="row">
                          <img src="{{item.item.img1.url}}" class="img-fluid rounded-3" alt="food"
                            style="width: 5rem; height: 4rem; margin-top: -1px;" />
                        </th>

                        <td>{{item.item.name}}</td>

                        <td>
                          <input id="form1" min="1" name="{{item.id}}" value="{{item.quantity}}" type="number"
                            class="form-control form-control-sm itemQuantity" data-food-item="{{item.id}}"
                            style="width: 70px" />
                        </td>

                        <td>₹{{ item.item.price | stringformat:'d' }}</td>
                        <td class="newPrice" totalItemPrice="{{item.item.id}}">
                          ₹{% widthratio item.item.price 1 item.quantity %}
                        </td>
                        <td>
                          <a class="text-muted deleteFood" href="/bag/deleteItem/{{item.id}}"
                            data-food-item="{{item.id}}" data-food-name="{{item.item.name}}"><i
                              class="fas fa-times"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  <!-- Address start -->
                  <h4 class="text-uppercase mt-5">Delivery Address</h4>
                  <div class="row d-flex justify-content-between">
                    <div>
                      <select class="bg-dark rounded-3 text-white" name="chooseAddress" id="address"
                        style="width: 91.5%; height: 40px">
                        {% for data in address %}
                        <option value="{{data.city}} || {{data.area}} || {{data.zipcode}} || {{data.house_no}}"
                          id="showAddress">
                          &nbsp;<div class="text-white bg-dark pt-2 rounded-3" style="width: 90%">
                            {{data.city}} || {{data.area}} || {{data.zipcode}} ||
                            {{data.house_no}}
                          </div>
                        </option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="my-3">
                      <button class="btn btn-dark rounded-3" id="openForm">Add</button>
                    </div>
                  </div>
                  <!-- Address end -->

                  <!-- Payment method start -->
                  <form action="/order/placeOrder/" method="POST">
                    {% csrf_token %}

                    <h4 class="text-uppercase mt-5">Payment Methods</h4>
                    <div class="row d-flex justify-content-between">
                      <div>
                        <select class="bg-dark rounded-3 text-white" name="payment" id="payment-method"
                          style="width: 91.5%; height: 40px">
                          <option value="Cash on delivery">&nbsp;Cash on delivery</option>
                          <option value="Net banking">&nbsp;Net banking</option>
                          <option value="UPI">&nbsp;UPI</option>
                        </select>
                      </div>

                      <div class="my-3 pb-4">
                        <input type="submit" class="btn btn-dark rounded-3" value="Order now" id="orderNow" />
                      </div>
                    </div>
                  </form>
                  <!-- Payment method end -->
                </div>
              </div>

              <!-- Summery start -->
              <div class="col-lg-3 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase" id="itemCount1">items {{count}}</h5>
                    <h5 class="totalPrice">₹{{total}}</h5>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 class="totalPrice">₹{{total}}</h5>
                    <!-- Add a class for total price -->
                  </div>
                </div>
              </div>
              <!-- Summery end -->
            </div>
            {% else %}
            <h2 class="text-center mt-2 mb-2">Bag is empty</h2>
            <div class="pt-1 pb-2">
              <h6 class="mb-0 text-center">
                <a href="/" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                  foods</a>
              </h6>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- My basket end -->

<!-- Add address start -->
<div id="centered-form">
  <div class="form-content">
    <h4 class="text-uppercase mt-3 mx-3">Delivery Address</h4>
    <form action="/profile/" method="POST" class="mx-3">
      {% csrf_token %}
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city">

      <label for="area" class="mt-2">Area</label>
      <input type="text" class="form-control" id="area" name="area">

      <label for="zipcode" class="mt-2">Zipcode</label>
      <input type="number" class="form-control" id="zipcode" name="zipcode">

      <label for="house" class="mt-2">House no.</label>
      <input type="number" class="form-control" id="house" name="house">

      <input type="submit" value="Submit" class="btn btn-dark my-3" id="addAddress">
    </form>
  </div>
</div>
<!-- Add address end -->

<!-- Start code to delete item -->
<script>
  $(".deleteFood").click(function (event) {
    event.preventDefault();

    let id = $(this).attr("data-food-item");
    let foodName = $(this).attr("data-food-name");
    console.log(foodName);
    let myData = { id: id };

    $.ajax({
      url: "/bag/deleteItem/" + id,
      data: myData,
      success: function (data) {
        if (data.status === "itemDeleted") { 
          // Remove the complete row
          $(this).closest(".deleteRow").remove();

          // Update the total price in the HTML
          $(".totalPrice").text("₹" + data.finalPrice);

          // Update itemCount in localStorage
          let itemCount = parseInt(localStorage.getItem('itemCount'), 10) || 0;
          if (itemCount > 0) {
            localStorage.setItem('itemCount', String(itemCount - 1));
          }

          // Update the counter of navbar
          $("#counter").text(itemCount-=1);

          // Remove selected food name from localStorage
          let selectedFoodName = data.deletedFoodName; // Assuming it's retrieved from the server response
          let storedFoods = JSON.parse(localStorage.getItem('bagFoodsName')) || [];
          let updatedFoods = storedFoods.filter(food => food !== foodName); // Use the foodName passed in the AJAX call
          localStorage.setItem('bagFoodsName', JSON.stringify(updatedFoods));

          // Update the UI (if needed)
          $("#itemCount1").text("items " + String(parseInt(data.totalItem, 10) - 1));
        }
      }.bind(this)
    });
  });

  $("#userLogout").click(function () { 
    localStorage.clear();
   })
</script>
<!-- End code to delete item -->

<!-- Start code to increase item quantity -->
<script>
  $(".itemQuantity").click(function (event) {
    event.preventDefault();

    let quantityElement = $(this);
    let currentQuantity = parseInt(quantityElement.val(), 10); // Get the current quantity as a number

    let id = $(this).attr("data-food-item");
    console.log(id, currentQuantity);

    if (currentQuantity < 1) {
      console.log("Quantity is less than 1");
      return;
    }

    let row = quantityElement.closest('tr'); // Find the closest <tr> element (row)
    let newPriceElement = row.find('.newPrice'); // Find the corresponding .newPrice element within the row

    $.ajax({
      url: "/bag/view_bag/",
      data: { id: id, quantity: currentQuantity },
      success: function (data) {
        let finalP = parseInt(data.price, 10);
        newPriceElement.text("₹" + finalP);

        $(".totalPrice").text("₹" + data.Final);
      }
    });
  });

</script>
<!-- End code to increase item quantity -->

<!-- Start code to place order -->
<script>
  $(document).ready(function () {
    $("#orderNow").click(function (e) {
      e.preventDefault(); // Prevent default form submission

      let paymentMethod = $("#payment-method").val(); // Get the selected payment method
      let address = $("#address").val();

      let addressArr = address.split("||");
      let city = addressArr[0];
      let area = addressArr[1];
      let zipcode = addressArr[2];
      let house_no = addressArr[3];

      myData = {
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        payment: paymentMethod, city: city, area: area, zipcode: zipcode,
        house_no: house_no
      };

      if (city == " " || area == " " || zipcode == " " || house_no == " ") {
        Swal.fire({ icon: "warning", text: "Please complete your profile or add address.", timer: 1000, showCancelButton: false, showConfirmButton: false })
      }
      else {
        $.ajax({
          type: "POST",
          url: "/order/placeOrder/",
          data: myData,
          success: function (data) {
            if (data.status) {
              // $("#deleteBasket").remove();

              // Swal.fire({ icon: "success", text: "Order placed successfully", timer: 1000, showCancelButton: false, showConfirmButton: false });
              // $("#appendEmptyBag").append(
              //   '<h2 class="text-center mt-2 mb-2">Bag is empty</h2><div class="pt-1 pb-2"><h6 class="mb-0 text-center"><a href="/" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to foods</a></h6> <h6 class="mb-0 mt-2 text-center"><a href="/orders/" class="text-body">View order&nbsp;<i class="fas fa-long-arrow-alt-right me-2"></i></a></h6></div>'
              // );
              window.location = "http://127.0.0.1:8000/orders/";

              // Clear the localStorage
              localStorage.clear();
            }
            else if(data.redirect){
              window.location = data.redirect;
              
              // Clear the localStorage
              localStorage.clear();
            }
          },
        });
      }
    });
  });
</script>
<!-- End code to place order -->

<!-- Address form start -->
<script>
  $(document).ready(function () {
    $("#openForm").click(function () {
      $("#centered-form").fadeIn();
      $("section").css({ 'filter': 'blur(5px)' });
    });

    $("#addAddress").click(function () {
      $("#centered-form").fadeOut();
      $("section").css({ 'filter': 'none' });
    });
  });
</script>
<!-- Address form end -->

<!-- Address form start -->
<script>
  $("#addAddress").click(function (event) {
    event.preventDefault();

    let city = $("#city").val();
    let area = $("#area").val();
    let zipcode = $("#zipcode").val();
    let house = $("#house").val();
    let csr = $("input[name=csrfmiddlewaretoken]").val();

    let myData = { city: city, area: area, zipcode: zipcode, house: house, csrfmiddlewaretoken: csr };

    if (!city || !area || !zipcode || !house) {
      Swal.fire({ icon: "warning", text: "All fields are required!", timer: 500, showCancelButton: false, showConfirmButton: false })
    }
    else {
      $.ajax({
        url: "/profile/",
        method: "POST",
        data: myData,
        success: function (data) {
          if (data.status) {
            Swal.fire({ icon: "success", text: "Add updated", timer: 500, showCancelButton: false, showConfirmButton: false });
            console.log(data.address);
            x = data.address
            let result = '';
            for (let i = 0; i < x.length; i++) {
              result += `<option value=${x[i].city} || ${x[i].area} || ${x[i].zipcode} || ${x[i].house_no}>
                        &nbsp;<div class="text-white bg-dark pt-2 rounded-3" style="width: 90%">${x[i].city} || ${x[i].area} || ${x[i].zipcode} || ${x[i].house_no}</div>
                      </option>`
            }
            $("select:first").children("option").remove();
            $("select:first").append(result);
          }
        }
      })
    }
  })
</script>
<!-- Address form end -->


<script>
  // Function to update localStorage data
  function updateLocalStorageData(count, items) {
    localStorage.setItem('itemCount', count);
    localStorage.setItem('bagFoodsName', JSON.stringify(items));
  }

  // Function to handle removing items from the basket
  $(".removeFromBag").click(function (event) {
    event.preventDefault();

    let id = $(this).attr("data-menu-id");
    let myData = { id: id };

    $.ajax({
      url: '/bag/remove-from-bag/' + id,
      data: myData,
      success: function (data) {
        // Update localStorage with the new count and items list
        updateLocalStorageData(data.bagItemCount, data.bagFoodsName);
      }
    });
  });

</script>

{% endblock content %}