{% extends '../base2.html' %}
{% block content %}

<style>
    input {
        height: 50px;
    }
</style>

<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    {% include './sidebar.html' %}
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        {% include './navbar.html' %}
        <!-- Navbar End -->

        <!-- Heading start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="bg-secondary rounded h-100 pt-4">
                    <h5 class="mb-4">Add Menu's</h5>
                </div>
            </div>
        </div>
        <!-- Heading end -->

        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="container-fluid pt-4 px-4">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row g-4">
                            <div class="col-sm-12 col-xl-6">
                                <div class="bg-secondary rounded h-100 p-4">
                                    <!-- Restaurant & menu name start -->
                                    <div class="row">
                                        <div class="form-floating mb-3 col-xl-6">
                                            <select class="form-select" id="rname" name="rname"
                                                aria-label="Floating label select example" required>
                                                <option value="{{menuItems.restaurant.name}}">
                                                    {{menuItems.restaurant.name}}</option>
                                            </select>

                                            <label for="rname" class="mx-2">Restaurant name</label>
                                        </div>

                                        <div class="form-floating mb-3 col-xl-6">
                                            <input type="text" class="form-control" name="mname" id="mname"
                                                value="{{menuItems.name}}" placeholder="Restaurant name" required>
                                            <label for="mname" class="mx-2">Menu name</label>
                                        </div>
                                    </div>
                                    <!-- Restaurant & menu name end -->

                                    <!-- Menu type & price start -->
                                    <div class="row">
                                        <div class="form-floating mb-3 col-xl-6">
                                            <select class="form-select" id="mtype" name="mtype"
                                                aria-label="Floating label select example" required>
                                                <option value="{{menuItems.type}}">{{menuItems.type}}</option>
                                                <option value="Sweet">Sweet</option>
                                                <option value="Paneer">Paneer</option>
                                                <option value="Breakfast">Breakfast</option>
                                                <option value="Lunch">Lunch</option>
                                                <option value="Dinner">Dinner</option>
                                            </select>
                                            <label for="mtype" class="mx-2">Menu type</label>
                                        </div>

                                        <div class="form-floating mb-3 col-xl-6">
                                            <input type="number" class="form-control" name="mprice" id="mprice"
                                                value="{{menuItems.price}}" placeholder="Restaurant name" required>
                                            <label for="mprice" class="mx-2">Menu price</label>
                                        </div>
                                    </div>
                                    <!-- Menu type & price end -->

                                    <!-- Menu cuisine start -->
                                    <div class="row">
                                        <div class="form-floating mb-3 col-xl-12">
                                            <input type="text" class="form-control" name="mcuisine" id="mcuisine"
                                                value="{{menuItems.cuisine}}" placeholder="Cuisine" required>
                                            <label for="mcuisine" class="mx-2">Cuisine</label>
                                        </div>
                                    </div>
                                    <!-- Menu cuisine end -->

                                    <!-- Menu image start -->
                                    <div class="mb-3">
                                        <label for="img1" class="form-label">Image 1</label>
                                        <input type="file" class="form-control bg-dark" name="mimg1" id="img1" required>
                                    </div>
                                    <!-- Menu image end -->

                                    <!-- Meny checkbox start -->
                                    <div class="row">
                                        <div class="form-floating mb-3 col-xl-12">
                                            <input class="form-check-input m-0" name="menuStatus" id="menuStatus" type="checkbox" {% if menuItems.available %} checked {% endif %}><span>&nbsp;Is available?</span>
                                        </div>
                                    </div>
                                    <!-- Menu checkbox end -->

                                    <!-- Restaurant description start -->
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here" name="mdesc"
                                            id="desc" style="height: 150px;"
                                            required>{{menuItems.description}}</textarea>
                                        <label for="desc">Description</label>
                                    </div>
                                    <!-- Restaurant description start -->

                                    <!-- Messages Start -->
                                    {% if messages %}
                                    <ul class="messages list-unstyled mt-2">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }} text-success" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <!-- Messages End -->
                                </div>
                            </div>
                        </div>
                        
                        <!-- Add menu button start -->
                        <div style="padding-left: 23px;">
                            <button type="submit" class="btn btn-primary py-3 mb-4">Add menu</button>
                        </div>
                        <!-- Add menu button end -->
                    </form>
                </div>
            </div>
        </div>
        <!-- Form End -->

    </div>
    <!-- Content End -->
</div>
{% endblock content %}