{% extends '../base2.html' %}
{% block content %}
{% load static %}


<style>
    .color{
        color: silver;
    }
</style>

<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    {% include './sidebar.html' %}
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        {% include './navbar.html' %}
        <!-- Navbar End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Order's</h6>
                    <form class="d-none d-md-flex ms-4">
                        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-white">
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">From</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in orderInfo %}
                            <tr>
                                <td>{{data.item.id}}</td>
                                <td>{{data.item.name}}</td>
                                <td>{{data.quantity}}</td>
                                <td>₹{{data.item.price}}</td>
                                <td>{{data.order.restaurant}}</td>
                                <td>
                                    {{data.is_confirmed}}
                                    {% if data.order.is_confirmed == True %}
                                        <a class="btn btn-sm btn-primary">Placed</a>
                                    {% else %}
                                        <a class="btn btn-sm btn-primary">Not placed</a>
                                        <a class="btn btn-sm btn-primary">Cancel Order</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-start mt-5">
                        <h6 class="mb-3">Delivery address</h6>
                        <ul>
                            <h6>City : <span class="color">{{deliveryAdd.city}}</span></h6>
                            <h6>Area : <span class="color">{{deliveryAdd.area}}</span></h6>
                            <h6>Zipcode : <span class="color">{{deliveryAdd.zipcode}}</span></h6>
                            <h6>House no. : <span class="color">{{deliveryAdd.house_no}}</span></h6>
                        </ul>            
                    </div>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

</div>
{% endblock content %}