{% extends '../base2.html' %}
{% block content %}
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                        </a>
                        <h3>Sign In</h3>
                    </div>
                    <form action="/login/" method="POST">
                        {% csrf_token %}

                        <!-- Username start -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="uname" placeholder="shivohum">
                            <label for="username">Username</label>
                        </div>

                        <!-- Password start -->
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" name="password" id="pwd" placeholder="Password">
                            <label for="password">Password</label>
                        </div>

                        <!-- Forgot password start -->
                        <!-- <div class="d-flex align-items-center justify-content-between mb-4">
                            <a href="#">Forgot Password</a>
                        </div> -->

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4" id="adminSignin">Sign In</button>
                        <p class="text-start mb-0">Don't have an Account? <a href="/foodprovider/adminSignup/">Sign Up</a></p>
                    </form> 
                </div> 
            </div> 
        </div> 
    </div> 
    <!-- Sign In End --> 
</div> 

<script>
    // Code start for signin page
$(document).ready(function () {
    $("#adminSignin").click(function (event) {
        event.preventDefault(); // Prevent the default form submission behavior
        let uname = $("#uname").val();
        let pwd = $("#pwd").val();
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        
        let myData = { uname:uname, pwd:pwd, csrfmiddlewaretoken: csr };

        if(!uname){
            Swal.fire({icon:"warning", text:"Please enter username!"})
        }
        
        else if(!pwd){
            Swal.fire({icon:"warning", text:"Please enter password!"})
        }
        else{
            $.ajax({
                url: '/login/',
                method: 'POST',
                data: myData,
                success: function (data) {
                    if (data.status === "signIn") {
                        Swal.fire({icon: 'success', text: 'Signin successfully' });
                    }

                    else if (data.status === "signInAdmin"){
                        window.location = '/foodprovider/dashboard/';
                        console.log("ok ho");
                    }
    
                    else if(data.status === "invalidUser"){
                        Swal.fire({icon: "warning", text: "Invalid username or password. Please try again."})
                    }
                }
            });
        }
    });
});
// Code end for signin page
</script>
{% endblock content %}