{% extends '../base.html' %}
{% block content %}

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <!-- Navbar include start -->
        {% include '../navbar.html' %}
    <!-- Navbar include end -->

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Edit Restaurant</h1>
            <p class="text-white mb-3 animated slideInDown">Welcome {{request.user}}</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="/foodprovider/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/foodprovider/addRestaurant/">Add Restaurant</a></li>
                    <li class="breadcrumb-item"><a href="/foodprovider/addMenu/">Add Menu</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- Edit Restaurant Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Edit restaurant</h5>
            <h1 class="mb-5">Thanks for choosing us.</h1>
        </div>
        <div class="row g-4 d-flex justify-content-center" >
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <!-- Restaurant username start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="uname" id="uname" value="{{request.user}}" required>
                                </div>
                            </div>
                            <!-- Restaurant username end -->

                            <!-- Restaurant name start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="rname" id="rname" value="{{restaurant.name}}" placeholder="Your Restaurant Name" required>
                                    <label for="rname">Restaurant Name</label>
                                </div>
                            </div>
                            <!-- Restaurant name end -->

                            <!-- Restaurant city start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="rcity" id="rcity" value="{{restaurant.city}}" placeholder="Your Restaurant City" required>
                                    <label for="rcity">Restaurant City</label>
                                </div>
                            </div>
                            <!-- Restaurant city end -->

                            <!-- Restaurant address start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="raddress" id="raddress" value="{{restaurant.address}}" placeholder="Your Restaurant Address" required>
                                    <label for="raddress">Restaurant Address</label>
                                </div>
                            </div>
                            <!-- Restaurant address end -->

                            <!-- Restaurant mobile start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="rmobile" id="rmobile" value="{{restaurant.mobile}}" placeholder="Your Restaurant Mobile">
                                    <label for="rmobile">Restaurant Mobile</label>
                                </div>
                            </div>
                            <!-- Restaurant mobile end -->

                            <!-- Restaurant veg_or_nonveg start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select name="veg" id="veg" class="form-control bg-white">
                                        <option value="{{restaurant.veg_or_nonveg}}">{{restaurant.veg_or_nonveg}}</option>
                                        <option value="Both">Both</option>
                                        <option value="Vegiterian">Vegiterian</option>
                                        <option value="Non-Vegiterian">Non-Vegiterian</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Restaurant veg_or_nonveg end -->

                            <!-- Restaurant number of chefs start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="nchefs" id="nchefs" value="{{restaurant.no_of_chefs}}" placeholder="Number Of Chefs" required>
                                    <label for="nchefs">Number Of Chefs</label>
                                </div>
                            </div>
                            <!-- Restaurant number of chefs end -->

                            <!-- Restaurant start_date start -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" name="rdate" id="rdate" value="{{restaurant.start_date}}" placeholder="Your Restaurant Mobile" required>
                                    <label for="rdate">Restaurant Date</label>
                                </div>
                            </div>
                            <!-- Restaurant start_date end -->

                            <!-- Restaurant image 1 start -->
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="postImg" id="rimg1" value="{{restaurant.img1}}" placeholder="Subject" required>
                                    <label for="rimg1">Image 1</label>
                                </div>
                            </div>
                            <!-- Restaurant image 1 end -->

                            <!-- Restaurant image 2 start -->
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="rimg2" id="rimg2" placeholder="Subject" required>
                                    <label for="rimg2">Image 2</label>
                                </div>
                            </div>
                            <!-- Restaurant image 2 end -->

                            <!-- Restaurant image 3 start -->
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="rimg3" id="rimg3" placeholder="Subject" required>
                                    <label for="rimg3">Image 3</label>
                                </div>
                            </div>
                            <!-- Restaurant image 3 end -->

                            <!-- Restaurant image 4 start -->
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="rimg4" id="rimg4" placeholder="Subject" required>
                                    <label for="rimg4">Image 4</label>
                                </div>
                            </div>
                            <!-- Restaurant image 4 end -->


                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Describe your restaurant" name="desc" id="desc"
                                        style="height: 150px">{{restaurant.desc}}</textarea>
                                    <label for="desc">About Restaurant</label>
                                </div>
                            </div>

                            <!-- Messages Start -->
                            {% if messages %}
                            <ul class="messages list-unstyled">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }} text-success" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                            <!-- Messages End -->

                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Create Restaurant</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Restaurant End -->
{% endblock content %}

