{% extends '../base.html' %}
{% block content %}
{% load static %}

<section>
    <!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <!-- Navbar include start -->
        {% include '../navbar.html' %}
    <!-- Navbar include end -->

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Top Restaurants</h1>

            <!-- Search bar start -->
            <form method="get">
                <div class="custom-search-bar">
                    <input class="form-control rounded-pill" type="text" name="search-restaurant" placeholder="Search Restaurant...">
                </div>
            </form>
            <!-- Search bar end -->
            
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

{% for restaurant in page_obj %} 
    {% if restaurant.is_verified == True %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>{{restaurant.name}}</h1>
                        {% if restaurant.avg_rating|floatformat:0 == '5' %}
                            <h5 class="text-primary mb-3">⭐⭐⭐⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '4' %}
                            <h5 class="text-primary mb-3">⭐⭐⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '3' %}
                            <h5 class="text-primary mb-3">⭐⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '2' %}
                            <h5 class="text-primary mb-3">⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '1' %}
                            <h5 class="text-primary mb-3">⭐</h5>
                        {% else %}
                            <h5 class="text-primary mb-3">☆</h5>
                        {% endif %}

                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0 date" data-toggle="counter-up"><span
                                            class="year-difference">{{ restaurant.start_date|date:"Y" }}</span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                        {{restaurant.no_of_chefs}}</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="/foodprovider/restaurant_info/{{restaurant.id}}">View Restaurant</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded h-100 w-100 wow zoomIn fadeIn enlargeable" data-wow-delay="0.1s"
                                    src="{{restaurant.img1.url}}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn enlargeable" data-wow-delay="0.3s"
                                    src="{{restaurant.img2.url}}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn enlargeable" data-wow-delay="0.5s"
                                    src="{{restaurant.img3.url}}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn enlargeable" data-wow-delay="0.7s"
                                    src="{{restaurant.img4.url}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded h-100 w-100 wow zoomIn enlargeable" data-wow-delay="0.1s"
                                    src="{{restaurant.img1.url}}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn enlargeable" data-wow-delay="0.3s"
                                    src="{{restaurant.img2.url}}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn enlargeable" data-wow-delay="0.5s"
                                    src="{{restaurant.img3.url}}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn enlargeable" data-wow-delay="0.7s"
                                    src="{{restaurant.img4.url}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>{{restaurant.name}}</h1>

                        {% if restaurant.avg_rating|floatformat:0 == '5' %}
                            <h5 class="text-primary mb-3">⭐⭐⭐⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '4' %}
                            <h5 class="text-primary mb-3">⭐⭐⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '3' %}
                            <h5 class="text-primary mb-3">⭐⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '2' %}
                            <h5 class="text-primary mb-3">⭐⭐</h5>
                        {% elif restaurant.avg_rating|floatformat:0 == '1' %}
                            <h5 class="text-primary mb-3">⭐</h5>
                        {% else %}
                            <h5 class="text-primary mb-3">☆</h5>
                        {% endif %}

                        <p class="mb-4">{{restaurant.desc}}</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0 date" data-toggle="counter-up"><span
                                            class="year-difference">{{ restaurant.start_date|date:"Y" }}</span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                        {{restaurant.no_of_chefs}}</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="/foodprovider/restaurant_info/{{restaurant.id}}">View Restaurant</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}

<div class="container d-flex justify-content-end pagination mt-4">
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="btn btn-primary">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="btn btn-primary">Next</a>
    {% endif %}

    <span>&nbsp;&nbsp;</span>

    <span class="current">
        <span class="btn btn-primary">{{ page_obj.number }}</span> / <span class="btn btn-primary">{{ page_obj.paginator.num_pages }}</span>
    </span>
</div> 
</section>

<!-- Overlay to display enlarged image start -->
<div id="overlay">
    <img id="enlargedImg" src="" alt="Enlarged Image">
</div>
<!-- Overlay to display enlarged image end -->
 
{% endblock content %} 