{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-xxl bg-white p-0">
    <!-- Hero Start -->
    <div class="container-xxl position-relative p-0">
        <!-- Navbar include start -->
            {% include 'navbar.html' %}
        <!-- Navbar include end -->

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam
                            dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed
                            stet lorem sit clita duo justo magna dolore erat amet</p>
                        <a href="/foodprovider/restaurant/" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Restaurants</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/hero.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Foods start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
                <h1 class="mb-5">Explore Our Services</h1>

                <!-- Search bar start -->
                <form method="get">
                    <div class="custom-search-bar">
                        <input type="text" class="form-control rounded-pill bg-dark text-white" name="search-food-restaurant" placeholder="Search foods & restaurants...">
                    </div>
                </form>

                {% if not restaurantUrl %}
                <div class="my-3 d-flex justify-content-center">
                    <form method="get">
                        <label for="under">Under 120</label>
                        <input type="radio" name="price" value="120" id="under" {% if url %}{% if url == '120' %}checked{% endif %}{% endif %}>
                        <span>&nbsp;&nbsp;</span>

                        <label for="above">Under 240</label>
                        <input type="radio" name="price" value="240" id="above" {% if url %}{% if url == '240' %}checked{% endif %}{% endif %}>
                        <span>&nbsp;&nbsp;</span>

                        <input type="submit" class="btn btn-primary btn-sm" value="apply">
                    </form>
                </div>
                {% endif %}
                <!-- Search bar end -->

            </div>
            <div class="row g-4 mt-2">
                {% for menu in foods %}
                    {% if menu.available %}
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">
                                    <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{{menu.img1.url}}" style="height: 200px; margin-top: -15px;">
                                    <h5 class="mt-2">{{menu.name}}</h5>
                                    <p>{{menu.restaurant}}</p>
                                    <p>₹{{menu.price}}</p>
                                    
                                    <p class="text" style="display: block; width: 250px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{menu.description}}</p>

                                    <!-- <a href="/bag/add-to-bag/{{menu.id}}" class="btn btn-danger">Add to bag</a> -->
                                    <a href="/foodprovider/restaurant_info/{{menu.restaurant.id}}" class="btn btn-danger">Go ➙</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>         
        </div>
    </div>
    <!-- Foods end -->
</div>
{% endblock content %}


<!-- 
<div class="pagination mt-4">
    {% if pageObj.has_previous %}
        {% if url %}
            <a href="?price={{ url }}&page={{ pageObj.previous_page_number }}" class="btn btn-primary">Previous</a>
        {% else %}
            {% if rest_url %}
                <a href="?search-food-restaurant={{ rest_url }}&page={{ pageObj.previous_page_number }}" class="btn btn-primary">Previous</a>
            {% else %}
                <a href="?page={{ pageObj.previous_page_number }}" class="btn btn-primary">Previous</a>
            {% endif %}
        {% endif %}
    {% endif %}
            
    {% if pageObj.has_next %}
        {% if url %}
            <a href="?price={{ url }}&page={{ pageObj.next_page_number }}#food" class="btn btn-primary">Next</a>
        {% else %}
            {% if rest_url %}
                <a href="?search-food-restaurant={{ rest_url }}&page={{ pageObj.next_page_number }}#food" class="btn btn-primary">Next</a>
            {% else %}
                <a href="?page={{ pageObj.next_page_number }}#food" class="btn btn-primary">Next</a>
            {% endif %}
        {% endif %}
    {% endif %}
</div> 
 -->